---

- command: nsd-control-setup
  args:
    creates: "{{ nsd_conf_dir }}/nsd_control.key"
  when: nsd_remote_setup

- name: create nsd_server.key
  template:
    src: nsd_server.key.j2
    dest: "{{ nsd_conf_server_key_file }}"
    mode: 0600
    owner: "{{ nsd_user }}"
    group: "{{ nsd_group }}"
  notify: Restart nsd
  when: not nsd_remote_setup

- name: create nsd_server.pem
  template:
    src: nsd_server.pem.j2
    dest: "{{ nsd_conf_server_cert_file }}"
    mode: 0644
    owner: "{{ nsd_user }}"
    group: "{{ nsd_group }}"
  notify: Restart nsd
  when: not nsd_remote_setup

- name: create nsd_control.key
  template:
    src: nsd_control.key.j2
    dest: "{{ nsd_conf_control_key_file }}"
    mode: 0600
    owner: "{{ nsd_user }}"
    group: "{{ nsd_group }}"
  notify: Restart nsd
  when: not nsd_remote_setup

- name: create nsd_control.pem
  template:
    src: nsd_control.pem.j2
    dest: "{{ nsd_conf_control_cert_file }}"
    mode: 0644
    owner: "{{ nsd_user }}"
    group: "{{ nsd_group }}"
  notify: Restart nsd
  when: not nsd_remote_setup
