server:
{% for l in nsd_config_server %}
{% if l | isdict %}
{% if 'value' in l %}
  {{ l['name'] }}: {{ l['value'] }}
{% elif 'values' in l %}
{% for value in l['values'] %}
  {{ l['name'] }}: {{ value }}
{% endfor %}
{% endif %}
{% else %}
  {{ l }}
{% endif %}
{% endfor %}

remote-control:
{% for l in nsd_config_remote %}
{% if l | isdict %}
{% if 'value' in l %}
    {{ l['name'] }}: {{ l['value'] }}
{% elif 'values' in l %}
{% for value in l['values'] %}
    {{ l['name'] }}: {{ value }}
{% endfor %}
{% endif %}
{% else %}
    {{ l }}
{% endif %}
{% endfor %}

key:
{% for k, v in nsd_keys | dictsort %}
    name: {{ k }}
    include: "{{ nsd_conf_dir }}/{{ k }}.key"
{% endfor %}

{% for k, v in nsd_zones | dictsort %}
zone:
    name: {{ k }}
{% if 'zonefile' in v %}
    zonefile: {{ v.zonefile }}
{% endif %}
{% for l in v.config %}
{% if l | isdict %}
{% if 'value' in l %}
    {{ l['name'] }}: {{ l['value'] }}
{% elif 'values' in l %}
{% for value in l['values'] %}
    {{ l['name'] }}: {{ value }}
{% endfor %}
{% endif %}
{% else %}
    {{ l }}
{% endif %}
{% endfor %}
{% endfor %}
