server:
    # Number of NSD servers to fork.  Put the number of CPUs to use here.
    server-count: {{ ansible_processor_cores | default(1) }}
{% set ip_addresses = nsd_ip_addresses if nsd_ip_addresses  else ansible_all_ipv4_addresses %}
{% for ip in ip_addresses %}
    ip-address: {{ ip }}
{% endfor %}
{% if nsd_listen_on_localhost %}
    ip-address: 127.0.0.1
{% endif %}
    do-ip4: {{ nsd_conf_do_ip4 }}
    do-ip6: {{ nsd_conf_do_ip6 }}
    verbosity: {{ nsd_conf_verbosity }}
    username: {{ nsd_user }}

{% if nsd_chroot_enable %}
    chroot: "{{ nsd_conf_dir }}"
{% endif %}
    zonesdir: "{{ nsd_conf_zonesdir }}"
    
    # the list of dynamically added zones.
    # zonelistfile: "/var/db/nsd/zone.list"

    database: "{{ nsd_db_dir }}/nsd.db"
    pidfile: "{{ nsd_run_dir }}/nsd.pid"
    xfrdfile: "{{ nsd_db_dir }}/xfrd.state"
    hide-version: yes
{% if nsd_statistics_enable %}
    statistics: {{ nsd_conf_statistics }}
{% endif %}

{% if nsd_remote_enable %}
remote-control:
    control-enable: yes
{% for i in nsd_conf_control_interface %}
    control-interface: {{ i }}
{% endfor %}
    control-port: {{ nsd_conf_control_port }}
    server-key-file: "{{ nsd_conf_server_key_file }}"
    server-cert-file: "{{ nsd_conf_server_cert_file }}"
    control-key-file: "{{ nsd_conf_control_key_file }}"
    control-cert-file: "{{ nsd_conf_control_cert_file }}"
{% endif %}

key:
{% for k, v in nsd_keys | dictsort %}
    name: {{ k }}
    include: "{{ nsd_conf_dir }}/{{ k }}.key"
{% endfor %}

zone:
{% for k, v in nsd_zones | dictsort %}
    name: "{{ k }}"
{% if 'include_pattern' in v %}
    include-pattern: "{{ v['include_pattern'] }}"
{%-  endif %}
{% if 'zonefile' in v %}
    zonefile: "{{ v['zonefile'] }}"
{% endif %}
{% if 'provide_xfr' in v %}
{%  for xfr in v['provide_xfr'] %}
    provide-xfr: {{ xfr }}
{%  endfor %}
{% endif %}
{% if 'request_xfr' in v %}
{%  for xfr in v['request_xfr'] %}
    request-xfr: {{ xfr }}
{%-  endfor %}
{% endif %}
{% endfor %}
